@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #171720;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC",
    "Noto Sans Thai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: theme('colors.midnight.100');
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: theme('colors.midnight.300');
}

/* scrollbar dark mode support */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: theme('colors.midnight.900');
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.midnight.400');
  }
}


.bg-dot {
  background-image: radial-gradient(
      var(--color-midnight-500) 5%,
      transparent 5%
    ),
    radial-gradient(var(--color-midnight-500) 5%, transparent 5%);
  background-color: var(--color-midnight-700);
  background-position: 40px 40px, 0px 0px;
  background-size: 80px 80px;
}

@theme {
  --color-midnight-100: #e4e4eb; /* Very light */
  --color-midnight-200: #c2c3d1; /* Light gray-blue */
  --color-midnight-300: #999aad; /* Muted slate */
  --color-midnight-400: #46465d; /* Dark desaturated indigo */
  --color-midnight-500: #262635; /* Existing */
  --color-midnight-600: #20202e; /* Closer dark tone */
  --color-midnight-700: #1c1c28; /* Slightly darker */
  --color-midnight-800: #191922; /* Near-black with a cool tone */
  --color-midnight-900: #171720; /* Existing */
  --color-midnight-text: #ffffff; /* High contrast */
}
